meta charset="utf-8"
meta name="viewport" content="width=device-width, initial-scale=1.0"
meta name="description" content="#{site.metadata.description}"


/- page_title = capture do
  strip_newlines(strip_html(page.data[:title]))
/
/ title
/ - if page_title != ""
/   = "#{page_title} | #{site.metadata.title}"
/ - else
/   = "#{metadata.title}: #{site.metadata.tagline}"
/ script src="/assets/javascript/index.js" type="module" defer

